.name, .email, .password, .confirm-password, .submit {
    border: none;
    outline: none;
    background: none;
}

.form {
    position: relative;
    width: 640px;
    height: 100%;
    padding: 50px 30px;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    /*background: #fff;*/
    background: #e2e8df69
}

.form h2 {
    width: 100%;
    font-size: 30px;
    text-align: center;
}

.form .form-label {
    display: block;
    width: 260px;
    margin: 25px auto;
    text-align: center;
}

.form .form-label span {
    font-size: 15px;
    font-weight: 600;
    /*color: #505f75;*/
    color: black;
    text-transform: uppercase;
}

.form input {
    display: block;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
    padding-bottom: 5px;
    /*border-bottom: 1px solid rgba(109, 93, 93, 0.4);*/
    border-bottom: 1px solid #00000096;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.submit {
    display: block;
    margin:0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.submit {
    margin-top: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    background: -webkit-linear-gradient(left, #7579ff, #b224ef);
    opacity: 0.8;
}

.submit:hover {
    background: -webkit-linear-gradient(left, #7579ff, #b224ef, #7579ff);
}

.forgot-pass:hover {
    color: red;
}

.social-media {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.social-media ul {
    padding-left: 6px;
    /*list-style: none;*/
}

.social-media ul li {
    display: inline-block;
    cursor: pointer;
    margin: 25px 15px;
}

.social-media img {
    width: 40px;
    height: 40px;
}

.sign-up {
    padding-top: 65px;
    transition-timing-function:ease-out;
}

