.navtab {
  width:80%;
  height: 700px;
  position: relative;
  margin: 100px auto;
  overflow: hidden;
  margin-top: 15%;
  border-radius: 5px;
  /*box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); */
}

.btn-box{
  display: flex;
  border-bottom: 1px solid #ccc;
}

.btn-box button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  margin-right: 50px;
  font-size: 20px;
  font-weight: bold;
  color: teal;
  margin: 0px;
}

.btn-box .fa{
  margin-right: 20px;
}

.btn-box button:hover .fa{
  color: #ff7846;
}

#content1 {
  transform: translateX(0px);
}

#braintab {   
  color: maroon;
  background: linear-gradient(to right, rgb(192, 192, 192), rgb(50, 99, 96));
}