body {
  margin: 0;
  padding: 0;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background {
	position: relative;
	top: 0px;
    left: 0px;
    height: 10%;
    z-index: -1;
}
