body {
  margin: 0;
  padding: 0;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background {
	position: fixed;
	top: 0px;
  left: 0px;
  height: 10%;
  z-index: -1;
}

button {
  cursor: pointer;
}

/**{
overflow-y: scroll;
}*/

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
*{
    -ms-overflow-style: none;
}